@import url('./main.css');

#books-section {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.baner-libros{
    width: 100%;
    background-color: var(--primary-color);
}
.books-cards{
   background-image: url("../images/Fondo_Libros.png");
    background-size: cover;
    height: 80vh;
}

.semi-circle-libros{
    background-color: var(--primary-color);
}


.books-cards_title {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-decoration: underline;
    padding-top: 1rem;
}

.books-cards_title_h4{
    margin: 0;
}


.books-cards_cards-div {
    width: 55%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin-top: 1.2rem; 
    margin-left: 3rem;
    gap: 4rem;
}


.cards-div_card {
    border: 1px solid white;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards-div_card .card-top {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.cards-div_card .card-top img {
    width: 100%;
    height: 100%;
}

.cards-div_card .card-dowm {
    padding: 5px 20px;
    height: 40%;
    font-size: 1.1em;
    text-align: center;
}

.cards-div_card .card-dowm hr {
    border: 1px solid var(--primary-color);
}

.books-cards-dowm{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.books-cards_button {
    color: white;
    height: 3rem;
    width: 10rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   
    }   
